@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-text-primary bg-background-primary leading-[1.5];
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
    .list-default {
        @apply list-disc;
    }

    .list-default .list-default {
        list-style-type: circle;
    }

    .shadow {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }
}